/*.cmake
/*.filters
/*.sln
/*.vcxproj
autom4te.cache
bazel-*
CMakeCache.txt
CMakeFiles/
config.h
glog-*.tar.gz
packages/debian-*
packages/rpm-unknown
*.o

# Autotools cruft
*.la
*.lo
*.log
*.pc
*.trs
.deps/
.dirstamp
.libs/

INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.status
config.sub
configure
demangle.dm
demangle.nm
demangle_unittest
depcomp
install-sh
libtool
logging_striptest0
logging_striptest10
logging_striptest2
logging_unittest
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
mock_log_test
signalhandler.out1
signalhandler.out2
signalhandler.out3
signalhandler.out4
signalhandler_unittest
src/config.h
src/config.h.in
src/glog/logging.h
src/glog/raw_logging.h
src/glog/stl_logging.h
src/glog/vlog_is_on.h
src/stamp-h1
stacktrace_unittest
stl_logging_unittest
symbolize_unittest
test-driver
utilities_unittest

*.tar.gz
*.tar.bz2
